# Ignore PowerShell-specific files
*.ps1~

# Ignore report files
*.csv
*.html

# Ignore logs
*.log

# Ignore PowerShell Integrated Console history
*.ps1xml
*.psc1
*.psm1

# Ignore Visual Studio Code settings
.vscode/
.history/

# Ignore Python/Virtual Environment files
__pycache__/
*.py[cod]
*.pyo
*.env
